VITE_SUPABASE_URL=https://meecjdlvlmsfvsezmelp.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_ER4caHl-mq_mYXTCPxkxNw_mFJBc_O0
SUPABASE_SECRET_KEY=your_supabase_secret_key_here
SUPABASE_JWKS_URL=https://meecjdlvlmsfvsezmelp.supabase.co/auth/v1/.well-known/jwks.json